.container {
	width: 960px;
	margin: auto;
}

.info-box {
	width: 100%;
	background: #EEE;
	border-top: 3px solid #DDD;
	border-bottom: 3px solid #DDD;
	padding: 15px;
}

h1 {
	margin-bottom: 15px;
}

#gameArea {
	margin: 30px auto 10px auto;
	width: 640px;
	height: 640px;
	background: #EEE;
	border: 1px solid #DDD;
}

#gameCanvas {
	margin: auto;
	padding:0px;
}
